<article class="review">
  <tr>
  <td>
    <p><%= review.user.fname + " " +review.user.lname %></p>
    <%= review.created_at %>
  </td>
  <td>
    <p class="description">

      <%= review.description %>
      <% if current_user.id == review.user.id %>
        <%= link_to fa_icon('trash'), [@product, review], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
      <% end%>
    </p>
  </td>
  <td>
    <%= pluralize(review.rating, 'star') %>
  </td>
  </tr>
</article>
